/* Hafta Css Start */

.haftaSection {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 10px 20px;
    margin-top: 130px;
}

.haftaMain {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
    position: relative;
    gap: 5px;
}
.haftaMain h2 i {
    color: var(--main);
}
.title {
    font-size: 16px;
    color: var(--gray);
}


.containerTable {
    width: 100%;
    margin: 0 auto;
    overflow-x: auto;
    overflow-y: hidden;
}
/* width */
.containerTable::-webkit-scrollbar {
    height: 5px;
    border-radius: 10px;
}

/* Track */
.containerTable::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
.containerTable::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
.containerTable::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

table {
    width: 100%;
    min-width: 320px;
    border-collapse: collapse;
    margin-top: 20px;
}

thead th {
    color: var(--mainBold);
    border-bottom: 1px solid var(--mainBold);
    text-align: left;
    padding: 10px;
    position: relative;
}

thead th span.sort {
    cursor: pointer;
    margin-left: 10px;
    font-size: 0.9em;
    font-weight: 100;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    user-select: none;
}

thead th span.sort i {
    margin-left: 5px;
}

thead th span.sort.active i {
    color: var(--main);
}

tbody td {
    padding: 10px;
    border-bottom: 1px solid var(--border);
}

tbody tr:nth-child(even) {
    background-color: var(--bgblue);
}

.nameBox {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

td a {
    transition: 0s;
}
td a:hover {
    color: var(--mainBold);
    text-decoration: underline;
}

.tableImg {
    width: 35px;
    height: 50px;
    object-fit: cover;
    border-radius: 4px;
}

.numberT {
    color: var(--gray);
    font-weight: bold;
    font-size: 22px;
}

.status {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
    padding: 20px 0px;
}
.statusBox {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.f-start {
    justify-content: flex-start;
    align-items: center;
}

.pt-0 {
    padding-top: 0px;
}

.tabBtnBoxa {
    background: none;
    border: none;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    padding: 5px 0px;
    width: max-content;
    transition: 0.3s;
    border-bottom: 3px solid transparent;
}
.tabBtnBoxa.active {
    color: var(--mainBold);
    border-bottom: 3px solid var(--mainBold);
}
.tabBtnBoxa:hover {
    color: var(--main);
    border-bottom: 3px solid var(--main);
}

.tabBtnBoxHeader {
    font-size: 22px;
    font-weight: bold;
    padding: 5px 0px;
    width: max-content;
    transition: 0.3s;
    color: var(--mainBold);
}

.tableHeader {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}

.strong td {
    font-weight: bold;
}

.border-btm td {
    border-bottom: 1px solid var(--gray);
}


.yearSelect {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 15px;
    border-radius: 10px;
    background: linear-gradient(180deg, #f1f9ff 0%, #E5E5E5 100%);
    width: 100%;
    font-weight: bold;
}

.yearBtn.active {
    color: var(--mainBold) !important;
    transition: 0.3s !important;
    cursor: pointer !important;
    touch-action: auto !important;
    pointer-events: all !important;
    opacity: 1 !important;
}
.yearBtn.active:hover {
    text-decoration: underline;
}
.backBtn:hover {
    text-decoration: underline;
    transform: translateX(-5px);
}

.yearBtn.activex {
    color: var(--black);
    transition: 0.3s;
    cursor: pointer;
    touch-action: auto;
    pointer-events: all;
    opacity: 1;
}
.yearBtn.activex:hover {
    text-decoration: underline;
    color: var(--mainBold);
}

.yearBtn {
    touch-action: none;
    pointer-events: none;
    opacity: 0.6;
}

.centerBtn {
    border: none;
    outline: none;
    color: var(--mainBold);
    font-size: 22px;
    background: none;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
.centerBtn:hover {
    text-decoration: underline;
}


.containerAy {
    width: 100%;
    margin: 0 auto;
}

.tabs-hafta {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tab-button-hafta {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    transition: 0.3s;
}

.tab-button-hafta:hover {
    color: var(--mainBold);
}

.tab-button-hafta.active {
    border-bottom: 3px solid var(--main);
}

.tab-content-hafta {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    gap: 20px;
    width: 100%;
}

.month {
    width: 100%;
    margin: 0 auto;
    overflow-x: auto;
    overflow-y: hidden;
}

.month h3 i {
    color: var(--mainBold);
}

.mt-0 {
    margin-top: 0px;
}

.decrease {
    color: red;
    font-weight: bold;
}

.asc {
    color: rgb(33, 197, 0);
    font-weight: bold;
}

.clicka {
    color: var(--mainBold);
}

.hidden {
    display: none;
}

.bgnone {
    background: none;
    border: 1px solid transparent;
    gap: 30px;
}

.newsBoxHafta {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    gap: 10px;
    font-weight: bold;
    width: 100%;
}

.newsBoxHafta:hover p {
    color: var(--mainBold);
    text-decoration: underline;
}

.newsBoxHafta:hover .haftaImg img {
    transform: scale(1.1);
}

.date {
    opacity: 0.6;
}

.haftaImg {
    width: 100%;
    height: 150px;
    overflow: hidden;
    border-radius: 8px;
}
.haftaImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    transition: 0.3s;
}

.infoYear {
    margin-top: 30px;
}

.infoYear span {
    color: var(--mainBold);
}

.silent {
    font-size: 14px;
    opacity: 0.6;
}

.tum-zamanlar {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    gap: 10px;
    margin-top: 20px;
}

.tum-zamanlar a {
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    gap: 10px;
}
.tum-zamanlar a i {
    color: var(--mainBold);
    transition: 0.3s;
}
.tum-zamanlar a:hover i {
    transform: translateX(10px);
}
.tum-zamanlar a:hover {
    color: var(--mainBold);
}

.tumBox {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding-right: 30px;
    margin: 10px 0px;
}

.tumBoxLeft {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.tumBoxLeft a.title:hover {
    color: var(--mainBold);
}

.movieTitle1:hover {
    color: var(--mainBold);
    text-decoration: underline;
}

.tumBoxLeftImg {
    width: 100px;
    height: 100px;
    border-radius: 8px;
    overflow: hidden;
}

.tumBoxLeftImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    transition: 0.3s;
}

.tumBoxLeftImg:hover img {
    transform: scale(1.1);
}

.title1 {
    font-size: 16px;
    color: var(--mainBold);
}

.titledagitim {
    font-size: 16px;
    color: var(--mainHover);
}

.gap-10 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.pageBtn {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.pageBtns {
    border: none;
    outline: none;
    background: none;
    padding: 5px;
    border-radius: 5px;
    transition: 0.3s;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.deactivePage {
    border: 2px solid var(--border);
    color: var(--border);
    pointer-events: none;
}

.activePage {
    border: 2px solid var(--mainBold);
    color: var(--mainBold);
}
.activePage:hover {
    background-color: var(--mainBold);
    color: var(--white);
}

.color1 {
    color: var(--mainBold);
}

.newsTextArea {
    display: grid;
    gap: 20px;
    width: 100%;
}

.newsTextArea img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.mh-0 {
    min-height: 0px;
    padding-bottom: 40px;
}

.afis {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.galleryMovie {
    flex: 3;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 200px;
    gap: 0.25rem;
}

.galleryMovie img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
}

.heroMovie {
    grid-column: span 1;
    grid-row: span 2;
    border-radius: 20px 0px 0px 20px;
}
.img-radiusx {
    border-radius: 0px 20px 0px 0px;
}

.img-radius2x {
    border-radius: 0px 0px 20px 0px;
}

.galleryMovie .image-container {
    cursor: pointer;
}

.heroMovie1 {
    grid-column: span 2;
    grid-row: span 2;
}

.plusImg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000a4;
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    align-items: center;
    color: var(--white);
    transition: 0.3s;
}

.image-container:hover .plusImg {
    color: var(--mainBold);
}

/* Modal style */
.modal {
    display: none; /* Başlangıçta gizli */
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 50px;
}

.modal-content {
    height: 80%;
    width: 80%;
    object-fit: scale-down;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}
.fade-out {
    opacity: 0;
}

.fade-in {
    opacity: 1;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 24px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.prev {
    left: 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Thumbnail images */
.thumbnail-container {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0px 10px;
    margin-top: 10px;
    padding-bottom: 20px;
    height: 20%;
    max-width: 80%;
    overflow-x: scroll;
    overflow-y: hidden;
}
.thumbnail-container.active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
}

/* width */
.thumbnail-container::-webkit-scrollbar {
    height: 5px;
    border-radius: 10px;
}

/* Track */
.thumbnail-container::-webkit-scrollbar-track {
    background: transparent; 
}
 
/* Handle */
.thumbnail-container::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
.thumbnail-container::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.thumbnail {
    width: 100px;
    min-width: 100px;
    height: 100px;
    min-height: 100px;
    margin: 5px;
    cursor: pointer;
    opacity: 0.4;
    object-fit: cover;
}

.thumbnail:hover {
    opacity: 1;
}

/* Active thumbnail */
.active-thumbnail {
    opacity: 1;
}

/* ============================== */

/* Movie Info Area */

.movieInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    gap: 20px;
    border-radius: 10px;
    background: linear-gradient(180deg, #f1f9ff 0%, #E5E5E5 100%);
    padding: 20px;
}

.titleMovie {
    font-family: "roboto-bold";
}

.row-btw {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    gap: 10px;
}
.row-btw div {
    width: 50%;
}

.mt-1 {
    margin-top: 10px;
}

.oyuncular {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: start;
    gap: 20px;
}

.oyuncular a {
    width: calc(25% - 20px);
}

.oyuncular a p {
    transition: 0.3s;
}

.oyuncular a:hover p {
    text-decoration: underline;
    color: var(--mainBold);
}

.oyuncular a img {
    width: 100%;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
}

.movieInfo h3 {
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--border);
}
.movieInfo h3 i {
    color: var(--mainBold);
}

.new-btw div {
    width: auto;
}

.w-100 {
    width: 100%;
}

.filmContainer2 {
    margin-bottom: 30px;
}

.takvimHeader {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: start;
    gap: 10px;
    margin-bottom: 20px;
}
.takvimHeader i {
    height: 100%;
    font-size: 45px;
    color: var(--mainBold);
}

.col-gap {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.movieTitle1 {
    font-family: 'roboto-bold';
    font-size: 22px;
}

.newUpdate {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    gap: 10px;
}

.newUpdate a {
    font-family: 'roboto-bold';
    font-size: 20px;
}
.newUpdate a:hover {
    color: var(--mainBold);
}
.gap5 {
    gap: 5px;
}
.newDate {
    color: var(--gray);
}
.newDate i, .newDate span {
    color: var(--mainBold);
}
.oldDate {
    color: var(--gray);
    text-decoration: line-through;
}

.numbertT {
    color: var(--gray);
    font-weight: bold;
    font-size: 14px;
    background-color: var(--border);
    border-bottom: 1px solid var(--white) !important;
}

.moviesTd {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    gap: 5px;
    margin-bottom: 10px;
}

.moviesTd a {
    font-family: 'roboto-bold';
}

.titleDown {
    font-size: 14px;
}

.titleDown.red {
    color: #fc5a5a;
}
.titleDown.blue {
    color: #5a65fc;
}

.categoryMovie {
    padding: 2px 5px;
    background-color: var(--mainHover);
    color: var(--white);
    width: fit-content;
    border-radius: 5px;
}

#movie-table-tum td {
    vertical-align: top;
    border: 1px solid var(--border);
}

.settingsBox {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 8px;
    background: linear-gradient(180deg, #f1f9ff 0%, #E5E5E5 100%);
}

.settingsBox div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.center-f {
    justify-content: center;
    padding: 0;
    background: none;
}

.end-f {
    justify-content: flex-end;
    padding: 0;
    background: none;
}

.start-f {
    justify-content: flex-start !important;
}
.start-f p {
    font-weight: bold;
}

.cfBtn {
    border: none;
    outline: none;
    background: none;
    padding: 10px;
    font-family: 'roboto-bold';
    cursor: pointer;
    border-radius: 8px;
    transition: 0.3s;
    text-wrap: nowrap;
    font-size: 14px;
}

.cfBtn.active {
    background: var(--gray);
    color: var(--white);
}

.cfBtn.active:hover {
    background-color: var(--main);
    color: var(--black) !important;
}

.end-f label {
    font-weight: 600;
    color: var(--gray);
}

.end-f input {
    border: 1px solid var(--border);
    outline: none;
    border-radius: 8px;
    padding: 10px 5px;
}

.oyuncuBox {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: start;
    gap: 20px;
    padding: 10px;
    border-radius: 8px;
    transition: 0.3s;
}

.oyuncuBoxImg {
    width: 30%;
    min-width: 150px;
    height: 300px;
    overflow: hidden;
    border-radius: 8px;
}
.oyuncuBoxImg img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
    transition: 0.3s;
}
.oyuncuBox h3 {
    width: fit-content;
    padding-right: 10px;
    transition: 0.3s;
}

.w-70 {
    width: 70%;
}

.reklam-form {
    width: 100%;
}

.reklam-form form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    gap: 10px;
    padding: 20px;
    border-radius: 10px;
    background: linear-gradient(180deg, #f1f9ff 0%, #E5E5E5 100%);
}

.reklam-form label {
    font-family: 'roboto-bold';
    font-size: 14px;
    padding-left: 2px;
    margin-top: 10px;
}
.reklam-form input {
    width: 100%;
    border-radius: 8px;
    border: 1px solid var(--border);
    padding: 10px 5px;
    outline: none;
}
.reklam-form input::placeholder {
    font-weight: bold;
    font-size: 15px;
}
.reklam-form input:focus {
    border: 1px solid var(--mainHover);
}

.reklam-form textarea {
    width: 100%;
    border-radius: 8px;
    border: 1px solid var(--border);
    padding: 10px 5px;
    outline: none;
    resize: vertical;
}
.reklam-form textarea::placeholder {
    font-weight: bold;
    font-size: 15px;
}
.reklam-form textarea:focus {
    border: 1px solid var(--mainHover);
}

.submitForm {
    border: 2px solid var(--mainHover);
    color: var(--mainHover);
    font-weight: bold;
    font-size: 20px;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.submitForm:hover {
    background-color: var(--mainHover);
    color: var(--white);
}

.hakktxt {
    font-size: 20px;
}

.hakkImg {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.hakkImg img {
    width: 50%;
    object-fit: scale-down;
}

.search-containerx {
    position: relative;
    width: 100%;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    background: linear-gradient(180deg, #f1f9ff 0%, #E5E5E5 100%);
}

.search-containerx label {
    display: block;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 8px;
    width: 50%;
}

.cinema-count {
    color: var(--mainHover);
}

.search-containerx input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid var(--border);
    border-radius: 4px;
}
.search-containerx input:focus {
    border: 1px solid var(--mainHover);
}

.dropdown-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid var(--border);
    border-radius: 4px;
    max-height: 150px;
    overflow-y: auto;
    display: none;
    position: absolute;
    top: 90%;
    left: 0;
    width: 100%;
    background-color: var(--white);
    z-index: 1;
}

.dropdown-list li {
    padding: 8px;
    cursor: pointer;
}

.dropdown-list li:hover {
    background-color: var(--border);
}

.dropdown-list li {
    display: none;
}

.col-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.cinema-container {
    width: 100%;
    margin: 0 auto;
}

.cinema-item {
    background-color: white;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.cinema-header {
    padding: 15px;
    background: linear-gradient(180deg, #f1f9ff 0%, #E5E5E5 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
}

.cinema-header h2 {
    margin: 0;
    font-size: 1.5rem;
}

.cinema-header p {
    margin: 5px 0 0;
    font-size: 0.9rem;
    color: #666;
}

.toggle-icon {
    font-size: 1.5rem;
    transform: rotate(0);
    transition: transform 0.3s ease;
}

.cinema-header.active .toggle-icon {
    transform: rotate(180deg);
}

.cinema-details {
    padding: 15px;
    display: none;
    flex-direction: column;
    gap: 10px;
}

.showtimes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: start;
    width: 100%;
    gap: 10px;
}

.showtimes button {
    background-color: var(--mainHover);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 1rem;
}

.uyariTxt {
    font-weight: 600;
    padding: 10px 0px;
    color: var(--mainBold);
    font-style: italic;
    font-size: 20px;
}


@media (max-width: 1024px) {
    .haftaMain {
        width: 80%;
    }
}
@media (max-width: 900px) {
    .haftaMain {
        width: 90%;
    }
}

@media (max-width: 768px) {
    .haftaSection {
        margin-top: 90px;
    }
    .haftaImg {
        height: 200px;
    }

    .oyuncular a {
        width: calc(33% - 20px);
    }

    .galleryMovie {
        flex: 3;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-auto-rows: 200px;
        gap: 0.25rem;
    }
    .heroMovie {
        grid-column: span 2;
        grid-row: span 2;
    }
    .heroMovie1 {
        grid-column: span 4;
        grid-row: span 1;
        border-radius: 0px 20px 0px 0px;
    }
    .img-radiusx {
        grid-column: span 2;
        grid-row: span 1;
        border-radius: 0px;
    }
    .img-radius2x {
        grid-column: span 2;
        grid-row: span 1;
        border-radius: 0px 0px 20px 0px;
    }
}

@media (max-width: 480px) {
    .row-btw {
        flex-wrap: nowrap;
        flex-direction: column;
        gap: 10px;
    }
    .oyuncular a {
        width: calc(50% - 20px);
    }

    .galleryMovie {
        flex: 3;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-auto-rows: 200px;
        gap: 0.25rem;
    }
    .heroMovie {
        grid-column: span 3;
        grid-row: span 2;
    }
    .heroMovie1 {
        grid-column: span 4;
        grid-row: span 1;
        border-radius: 0px 20px 0px 0px;
    }
    .img-radiusx {
        display: none;
    }
    .img-radius2x {
        grid-column: span 4;
        grid-row: span 1;
        border-radius: 0px 0px 20px 0px;
    }

    .oyuncuBox {
        flex-direction: column;
    }
    .oyuncuBoxImg {
        width: 100%;
        height: 350px;
    }
    .w-70 {
        width: 100%;
    }
}

@media (max-width: 375px) {
    .tabBtnBoxa {
        font-size: 18px;
    }
    .oyuncular a {
        width: 100%;
    }
}


@media (max-width: 1320px) {
    .cfBtn {
        font-size: 13px;
    }
    .end-f label {
        font-size: 13px;
    }
}

@media (max-width: 1260px) {
    .settingsBox {
        flex-wrap: wrap;
    }
    .end-f {
        justify-content: center;
    }
}

@media (max-width: 433px) {
    .end-f {
        justify-content: flex-start;
    }
    .end-f div {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

@media (max-width: 580px) {
    .col-center {
        justify-content: flex-start;
        align-items: start;
        text-align: left;
        min-width: max-content;
    }

    .responsDays {
        overflow-y: hidden;
        overflow-x: auto;
    }
}

@media (max-width: 550px) {
    .mobile-wrapSelect {
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: start;
    }
}