/* Fonts area */

@font-face {
  font-family: 'roboto-regular';
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
  font-style: normal;
}

@font-face {
    font-family: 'roboto-bold';
    src: url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-style: normal;
}

/* ============================================================================== */

:root {
    --main: #FFD700;
    --mainBold: #FF8C00;
    --mainHover: #1DB9C3;

    --red: #E50914;

    --bg : #1C1C1C;
    --black: #000000;

    --gray: #555555;
    --grayHover: #E5E5E5;

    --border: #d7dddb;
    --white: #FFFFFF;
    --bgblue: #f1f9ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'roboto-regular';
}

body {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-color: var(--white);
    overflow: auto;
    position: relative;
}

a {
    text-decoration: none;
    color: var(--textClr);
    transition: 0.3s;
}

/* ===================================================== */

/* Header Css Start */

header {
    width: 100%;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.1);
    background-color: var(--white);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 998;
}

.top-header {
    width: 70%;
    height: 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    background-color: var(--white);
}

.logoImg {
    max-width: 270px;
    min-width: 180px;
    height: 100%;
    width: 15%;
    object-fit: scale-down;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logoImg img {
    height: 100%;
    width: 100%;
    object-fit: scale-down;
}

.headerInfo {
    height: 100%;
    display: flex;
    flex-direction: row;
}
.headerInfo1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0 10px;
}
.headerInfo1 .search-input {
    color: var(--mainBold);
    border-bottom: 1px solid var(--mainBold);
}
.headerInfo1 .search-button {
    color: var(--mainBold);
}
.headerInfo1 .search-input::placeholder {
    color: var(--mainBold);
}

.search-container {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 20px auto;
    gap: 10px;
}

.search-input {
    border: none;
    flex-grow: 1;
    font-size: 16px;
    outline: none;
    background: none;
    color: var(--main);
    width: 100%;
    border-bottom: 1px solid var(--main);
    transition: 0.3s;
}
.search-input::placeholder {
    color: var(--main);
}

.search-input:hover,
.search-input:focus {
    border-bottom: 1px solid var(--main);
}

.search-button {
    color: var(--main);
    background: none;
    outline: none;
    border: none;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    transition: 0.3s;
}

.search-button i {
    font-size: 18px;
}

.search-button:hover {
    background-color: var(--gray);
    color: var(--main);
}

.bottom-header {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--bg);
}

.bottomUl {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 100%;
    transition: 0.3s;
}

.bottom-header ul li {
    list-style: none;
    text-decoration: none;
    height: 100%;
    display: flex;
    position: relative;
}

.navA {
    height: 100%;
    color: var(--grayHover);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    text-wrap: nowrap;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    gap: 10px;
    padding: 0px 15px;
    transition: 0.3s;
}
.navA:hover {
    color: var(--main);
}

.clr1 {
    color: var(--black);
    width: 100%;
    height: 100%;
    padding: 10px 20px;
}

.mobile-btn {
    height: 36px;
    width: 30px;
    border: none;
    background: none;
    outline: none;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.mobile-btn i {
    height: 100%;
    width: 100%;
    font-size: 35px;
    color: var(--main);
}

.navbar-mobile {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: fit-content;
    max-height: 500px;
    overflow: auto;
}

.navbar-mobile a {
    color: var(--mainBold);
    padding: 10px;
    width: 100%;
    text-decoration: none;
    font-size: 18px;
    border-bottom: 1px solid var(--border);
}

.navbar-mobile a:hover {
    background-color: #f1f1f1;
}

.navbar-mobile p {
    color: var(--mainBold);
    padding: 10px;
    width: 100%;
    text-decoration: none;
    font-size: 18px;
    border-bottom: 1px solid var(--gray);
}

.bgclr {
    background-color: var(--bgblue);
}

.submenu {
    display: none; /* Hidden by default */
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    border-radius: 0px 0px 10px 10px;
    padding: 10px 30px;
    z-index: 1;
    padding: 0;
    list-style: none;
    height: auto !important;
    width: auto;
    overflow: hidden;
}

.submenu li {
    cursor: pointer;
    transition: 0.3s;
}

.submenu li:hover {
    background-color: var(--bg);
}

.submenu li button {
    background-color: transparent;
    border: none;
    font-size: 14px;
    color: #333;
    cursor: pointer;
}

@media (max-width: 1024px) {
    .top-header, .bottomUl {
        width: 80%;
    }
}

@media (max-width: 900px) {
    .top-header, .bottomUl {
        width: 90%;
        gap: 10px;
    }

}


@media (max-width: 768px) {
    .mobile-btn {
        display: block;
    }

    #navbar-mobile {
        display: none;
        flex-direction: column;
        align-items: start;
    }

    .navbar-mobile.show {
        display: flex !important;
    }


    .bottom-header, .headerInfo {
        display: none;
    }
    header {
        height: 70px;
    }
}