/* Main Css Start */

main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 70px;
}

.container {
    display: flex;
    gap: 10px;
    width: 70%;
}

.gallery {
    flex: 3;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 250px;
    gap: 0.25rem;
}

.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
}

.image-container {
    position: relative;
    transition: 0.3s;
    overflow: hidden;
}

.image-container:hover .overlay {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    background-color: rgba(28, 28, 28, 0.7);
}

.image-container:hover img {
    transform: scale(1.1);
}

.hero {
    grid-column: span 2;
    grid-row: span 2;
    border-radius: 20px 0px 0px 20px;
}
.hero2 {
    grid-column: span 2;
    grid-row: span 1;
}

.img-radius {
    border-radius: 0px 20px 0px 0px;
}

.img-radius2 {
    border-radius: 0px 0px 20px 0px;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    background-color: rgba(0, 0, 0, 0.7);
    color: var(--grayHover);
    padding: 10px;
    font-size: 14px;
    transition: 0.3s;
}

.category {
    font-weight: bold;
    color: var(--main);
    display: block;
    margin-bottom: 5px;
}

@media (width < 700px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 175px;
    }
}

.tab-section {
    flex: 1;
    height: max-content;
    display: flex;
    flex-direction: column;
    background-color: var(--bgblue);
    border: 1px solid var(--border);
    border-radius: 10px;
}

.dateArea {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--border);
    border-radius: 10px 10px 0px 0px;
    border-bottom: 1px solid var(--grayHover);
    padding: 5px 0px ;
}

.dateArea i {
    color: var(--mainBold);
}

.tabs {
    display: flex;
    justify-content: space-around;
    background-color: var(--border);
}

.tab-button {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    transition: 0.3s;
}

.tab-button:hover {
    color: var(--mainBold);
}

.tab-button.active {
    border-bottom: 3px solid var(--main);
}

.list {
    list-style: none;
}

.list li:last-child a {
    border-bottom: none;
}

.list a {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    gap: 10px;
    padding: 10px;
    border-bottom: 1px solid var(--grayHover);
    transition: 0.3s;
    border-radius: 0px;
}

.list a:hover {
    background-color: var(--grayHover);
}

.tumu {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 10px 10px;
    padding: 5px 0px ;
    transition: 0.3s;
    border-top: 1px solid var(--border);
    color: var(--mainBold);
    gap: 10px;
    font-weight: bold;
}
.tumu:hover {
    background-color: var(--border);
}

.infInside {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.rowIns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    font-size: 11px;
    color: var(--mainBold);
}
.rowIns2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    font-weight: bold;
}

.rowIns2 p {
    color: var(--black);
}
.rowIns2 i {
    font-size: 12px;
}

.endTxt {
    text-align: right;
}

.list li span {
    font-weight: bold;
    font-size: 20px;
}

/* Main Css End */

/* ============================================= */

/* vizyon Css Start */

section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 30px 20px;
}

.vizyon {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
    position: relative;
    gap: 20px;
}

.tabs2 {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    gap: 30px;
}

.tabs2 button i {
    color: var(--main);
}

.tablinks {
    background: none;
    border: none;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 0px;
    width: max-content;
    transition: 0.3s;
    border-bottom: 3px solid transparent;
}

.tablinks.active {
    border-bottom: 3px solid var(--main);
}

.tabcontent {
    width: 100%;
}

.vizyonSlier {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: start;
    gap: 20px;
}

.vizyonLeft {
    flex: 1 0 70%;
    max-width: 100%;
    box-sizing: border-box;
    min-width: 170px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.mainvizyonImg {
    width: 100%;
    height: 350px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.mainvizyonImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.3s;
}
.mainvizyonImg:hover .namevizyon {
    border-bottom: 2px solid var(--mainBold);
    color: var(--mainBold);
}
.mainvizyonImg:hover img {
    transform: scale(1.1);
}
.overlay1 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    background-color: rgba(0, 0, 0, 0.7);
    color: var(--grayHover);
    padding: 10px;
    font-size: 14px;
    transition: 0.3s;
}
.namevizyon {
    font-weight: bold;
    color: var(--main);
    display: block;
    width: fit-content;
    transition: 0.3s;
    border-bottom: 2px solid transparent;
}

.arrows {
    border: none;
    outline: none;
    background: none;
    font-size: 35px;
    cursor: pointer;
    color: var(--main);
    transition: 0.3s;
}
.arrows:hover {
    color: var(--mainBold);
    transform: scale(1.2);
}

.vizyonRight {
    flex: 1 0 30%;
    max-width: 100%;
    box-sizing: border-box;
    min-width: 170px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    border-radius: 10px;
    height: max-content;
    gap: 10px;
}

.vizyonBox {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 5px;
    border-radius: 8px;
    transition: 0.3s;
}
.vizyonBox:hover {
    background: linear-gradient(180deg, #f1f9ff 0%, #E5E5E5 100%);
}
.vizyonBox:hover img {
    transform: scale(1.1);
}

.vizyonBox:hover h3 {
    color: var(--mainBold);
    border-bottom: 2px solid var(--mainBold);
}

.vizyonBoxImg {
    width: 100px;
    min-width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 4px;
}
.vizyonBoxImg img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    object-fit: cover;
    transition: 0.3s;
}
.vizyonBox h3 {
    width: fit-content;
    transition: 0.3s;
    border-bottom: 2px solid transparent;
}

/* vizyon Css End */

/* ============================================= */

/* News Css Start */

.news {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
    position: relative;
    gap: 20px;
}

.newsInside {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: start;
    position: relative;
    gap: 20px;
}

.newsLeft {
    flex: 1 0 70%;
    max-width: 100%;
    box-sizing: border-box;
    min-width: 170px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.newsBox {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 10px;
    border-radius: 8px;
    transition: 0.3s;
}
.newsBox:hover {
    background: linear-gradient(180deg, #f1f9ff 0%, #E5E5E5 100%);
}
.newsBox:hover img {
    transform: scale(1.1);
}

.newsBox:hover h3 {
    color: var(--mainBold);
    text-decoration: underline;
}

.news h2 i {
    color: var(--main);
}

.newsBoxImg {
    width: 40%;
    max-width: 250px;
    height: 150px;
    overflow: hidden;
    border-radius: 4px;
}
.newsBoxImg img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    object-fit: cover;
    transition: 0.3s;
}
.newsBox h3 {
    width: fit-content;
    padding-right: 10px;
    transition: 0.3s;
}

.newsBox p {
    width: fit-content;
    color: var(--gray);
}


.newsRight {
    flex: 1 0 30%;
    max-width: 100%;
    box-sizing: border-box;
    min-width: 170px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    border-radius: 10px;
    height: max-content;
    gap: 10px;
    background-color: var(--bgblue);
    border: 1px solid var(--border);
    border-radius: 10px;
}

.seyirci {
    width: 100%;
}

.dateArea1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--border);
    border-radius: 10px 10px 0px 0px;
    border-bottom: 1px solid var(--grayHover);
    padding: 10px 0px ;
    color: var(--mainBold);
}

.dateArea1 h3 {
    font-weight: 100;
}

.aling-center {
    align-items: center !important;
}
.aling-center span i {
    color: var(--main);
    transition: 0.3s;
}
.aling-center .infInside p {
    transition: 0.3s;
}

.aling-center:hover span i {
    color: var(--mainBold);
}
.aling-center:hover .infInside p {
    transform: translateX(10px);
    color: var(--mainBold);
}

.tumuBtn {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: end;
    color: var(--mainBold);
    font-weight: bold;
    font-size: 18px;
    transition: 0.3s;
    width: 100%;
    gap: 20px;
    padding: 10px;
}

.tumuBtn i {
    transition: 0.3s;
}
.tumuBtn:hover i {
    transform: translateX(10px);
}

/* News Css End */

/* ============================================= */

/* Gise Css Start */

.gise {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: start;
    width: 100%;
    gap: 20px;
}

.giseBox {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
    flex-basis: 0;
    width: 100%;
    min-width: 320px;
    border-radius: 10px;
    gap: 30px;
    padding: 10px;
    transition: 0.3s;
    background: linear-gradient(180deg, #f1f9ff 0%, #E5E5E5 100%);
}

.giseBoxImg {
    width: 50px;
    min-width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 4px;
}
.giseBoxImg img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    object-fit: cover;
    transition: 0.3s;
}
.giseBox h3 {
    width: fit-content;
    transition: 0.3s;
    border-bottom: 2px solid transparent;
}

.giseBox i {
    transition: 0.3s;
    margin: auto;
    margin-right: 10px;
}
.giseBox:hover i {
    color: var(--mainBold);
    transform: translateX(10px);
}
.giseBox:hover img {
    transform: scale(1.1);
}
.giseBox:hover {
    color: var(--mainBold);
}

.number {
    font-size: 32px;
    font-weight: bold;
}

/* Gise Css End */

/* ============================================= */

@media (max-width: 1024px) {
    .container, .vizyon, .news {
        width: 80%;
    }
    .gallery {
        flex: 2;
    }
}

@media (max-width: 900px) {
    .container, .vizyon, .news {
        width: 90%;
    }
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .hero {
        grid-column: span 1;
        grid-row: span 1;
        border-radius: 20px 0px 0px 0px;
    }
    .hero2 {
        grid-column: span 1;
        grid-row: span 1;
    }
    .img-radius3 {
        border-radius: 0px 0px 0px 20px;
    }
    .vizyonLeft {
        flex: 1 0 60%;
    }
    .vizyonRight {
        flex: 1 0 40%;
    }
}

@media (max-width: 768px) {
    main {
        margin-top: 90px;
    }
    .container {
        flex-wrap: wrap-reverse;
    }
    .gallery, .tab-section {
        width: 100%;
        min-width: 100%;
    }
    .vizyonSlier, .newsInside {
        flex-wrap: wrap;
    }
    .vizyonRight, .vizyonLeft {
        flex: 1 0 100%;
    }
}

@media (max-width: 600px) {
    .newsBoxImg {
        min-width: 150px;
    }
}

@media (max-width: 425px) {
    .newsBox {
        flex-wrap: wrap;
    }
    .newsBoxImg {
        width: 100%;
    }
    .giseBox {
        min-width: 0px;
        width: 100%;
    }
    .gise {
        flex-direction: column;
    }
    .mainvizyonImg {
        height: 250px;
    }
}

@media (max-width: 375px) {
    .gallery {
        grid-template-columns: repeat(1, 1fr);
    }
    .hero {
        border-radius: 20px 20px 0px 0px;
    }
    .hero2 {
        border-radius: 0px;
    }
    .img-radius {
        border-radius: 0px;
    }
    .img-radius2 {
        border-radius: 0px 0px 20px 20px;
    }
    .img-radius3 {
        border-radius: 0px;
    }

    .tablinks {
        font-size: 18px;
    }
}

#newsContainer {
    width: 100%;
}

/* 
.newsBox {
    display: none;
}  */

.pageBtn {
    margin-top: 20px;
}

.pageBtns {
    cursor: pointer;
}

.newsMovie {
    flex: 1 0 100%;
    max-width: 100%;
    box-sizing: border-box;
    min-width: 170px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: start;
    gap: 10px;
}

.newsBoxMovie {
    flex: 1 0 25%;
    max-width: 23%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
}
.yearSelect a {
    pointer-events: auto; /* Tıklanabilirliği kontrol edin */
}
.movieName {
    width: 100%;
}

.newsBoxMovie .newsBoxImg {
    width: 100%;
    max-width: 100%;
}

@media (max-width: 767px) {
    .newsBoxMovie {
        flex: 1 0 50%;
        max-width: 45%;
    }
}

@media (max-width: 430px) {
    .newsBoxMovie {
        flex: 1 0 100%;
        max-width: 100%;
    }
}