.multiple-uploader {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 15px;
    border: 2px dashed #858585;
    min-height: 150px;
    margin: 10px auto;
    cursor: pointer;
    width: 90%;
}

.mup-msg {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mup-msg span {
    margin-bottom: 10px;
}

.mup-msg .mup-main-msg {
    color: #606060;
    font-size: 1.2rem;
    font-weight: 700;
}

.mup-msg .mup-msg {
    color: #737373;
}

.image-container{
    margin: 1rem;
    width: 120px;
    height: 120px;
    position: relative;
    cursor: auto;
    pointer-events: unset;
}

.image-container:before {
    z-index: 3;
    content: "\2716";
    align-content: center;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    color: white;
    position: absolute;
    top: -5px;
    left: -5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #e50000;
    pointer-events: all;
    cursor: pointer;
}

.image-preview {
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 12px;
    object-fit: cover;
}

.image-size {
    position: absolute;
    z-index: 1;
    height: 120px;
    width: 120px;
    backdrop-filter: blur(4px);
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    opacity: 0;
    pointer-events: unset;
}

.image-size:hover {
    opacity: 1;
}

.exceeded-size {
    position: absolute;
    z-index: 2;
    height: 120px;
    width: 120px;
    display: flex;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    color: white;
    background: rgba(255, 0, 0, 0.6);
    pointer-events: unset;
}

.w-fit {
    width: fit-content !important;
}

.tumbimg {
    height: 60px !important;
    max-width: 75px !important;
    object-fit: cover !important;
    padding: 2px !important;
}

.custombg1 {
    padding-bottom: 15px;
    background: #435d7d;
    padding: 16px 10px;
    border-radius: 3px 3px 0 0;
    margin: 0;
}

.custombg1 h2,
.custombg1h2 {
    color: #fff !important;
}

.bt-0 {
    border-top: none !important;
}

.d-row-ayar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.table-over{
    overflow-x: auto;
    width: 100%;
}

.containerswitch {
    display: flex;
    align-items: center;
}

.labelswitch {
    margin: 0 10px;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 900;
}
.labelswitch1 {
    margin: 0 10px;
    font-size: 16px;
    color: #000;
    font-weight: 900;
}
.switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.switch input {
  display:none;
}

.slider {
  background-color: #66bb6a;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.rows-per-page-select {
    color: #333;
    border-radius: 8px;
}

.rowSelect {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}